.sort-button-share{
    border: none;
    background-image: url(/public/arrow-icon_360.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 30px;
    width: 30px;
    padding: 0px;
}